@charset "utf-8";
//红色
$coRed: #fc091b;
//钢蓝
$coSteelBlue: #75a1be;
//深天蓝
$coDeepSkyBlue: #00b9ff;
//浅天蓝
$coLightSkyBlue: #e0f6fe;
//灰色
$coGray: #dedede;
// 浅灰
$coLightGray: #eef3f6;
//模块间距
$padding: 18px;

@mixin box-sizing($sizing:border-box) {
	box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	-ms-box-sizing: $sizing;
}
@mixin display-box ($orient:horizontal) {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-orient: $orient;
	-webkit-box-orient: $orient;
	-moz-box-orient: $orient;
	-ms-box-orient: $orient;
}
@mixin display-box-flex ($num:1) {
	box-flex: $num;
	-ms-box-flex: $num;
	-moz-box-flex: $num;
	-webkit-box-flex: $num;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	color: #fff;
	font-size: 16px;
	background-color: #FFF;
	font-family: "微软雅黑", "宋体", Arial;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-webkit-text-size-adjust: none;
	user-select: none;
	-webkit-user-select: none;
}
body {
	background: #0a407e url(../images/bg.png) repeat;
	background-size: 100% 100%;
}
ul, p {
	margin: 0;
	padding: 0;
}
ol, li {
	list-style: none;
}
h1.logo {
	margin: 0;
	padding-bottom: 4px;
	font-weight: normal;
	line-height: 35px;
	font-size: 23px;
	vertical-align: top;

	img {
		margin-right: 10px;
		vertical-align: -8px;
	}
}
a {
	text-decoration: none;
	color: #7d89a7;
}
header {
	padding: 10px 30px 10px 30px;
}
section {
	@include display-box-flex(1);
	position: relative;
}
nav {
	border-bottom: 1px solid $coGray;
	margin: 0 0px $padding 40px;
	padding-bottom: 10px;

	a {
		line-height: 24px;
		padding: 0 10px;

		&.on {
			color: #01b9ff;
		}
	}
}
footer {
}
.hide {
	display: none !important;
}
.box-vertical {
	@include display-box(vertical);
}
.m-container {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 0;
	bottom: 10px;

	&.m-container-edit {
		left: 8px;
		right: 0;
		top: 10px;
		bottom: 10px;

		.m-right {
			padding: 0 8px;
		}
	}
}
.m-one {
	header {
		padding-top: 43px;
	}
	.m-container {
		.time-axis-y {
			margin-left: 300px;
			margin-top: 10px;
		}
		.m-time-detail {
			top: 100px;
			margin-top: 9px;
		}
	}
}
.m-menu {
	width: 200px;
	height: 100%;
	float: left;
	overflow: auto;
	padding-right: $padding;
	border-right: 1px solid #00f0ff;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		margin-bottom: $padding;

		&.on {
			.m-menu-box {
				border-color: #00fff0;
				border-width: 3px;
				background-color: #0880a9;
				background-image: url(../images/listicon-on.png);
			}
		}
	}
}
.m-menu-box {
	$boxPadding: 12px;
	cursor: pointer;
	padding: $boxPadding $boxPadding $boxPadding 70px;
	color: #FFF;
	border: 1px solid #2faeff;
	background-image: url(../images/listicon-off.png);
	background-repeat: no-repeat;
	background-position: 25px center;

	&.m-menu-box-add {
		background-image: none;
		font-size: 25px;
		text-align: center;
		padding: 10px 0;
	}
	span {
		display: block;
	}
	i {
		display: block;
		font-size: 12px;
		font-style: normal;
		padding-top: 2px;
	}
}
.m-right {
	margin-left: 220px;
	padding: 0 $padding;
	height: 100%;
	position: relative;
}
.time-axis-y {
	$color: #d9d9d9;
	padding: 0 26px;
	position: relative;

	.time-axis-boxs {
		position: relative;
		margin: 0 auto;
		width: auto;
		padding-left: 0;
		border-left: none;
		border-bottom: 2px dotted #047488;
		text-align: center;
	}
	.timebox {
		position: relative;
		background: #fff;
		border-radius: 3px;
		padding: 5px;
		cursor: pointer;
		font-size: 12px;
		color: #b5def4;
		display: inline-block;
		margin: 0px 10px 22px;
		border: none;
		background: none;

		& > span {
			line-height: 18px;
		}
		.timebox-date {
		}
		.timebox-time {
			color: #98adce;
		}
		i {
			$top: 55px;
			$height: 40px;
			position: absolute;
			left: 0;
			right: 0;
			top: $top - $height/2 - 3;
			margin: auto;
			display: block;
			width: $height;
			height: $height;
			background-image: url(../images/pl-blue.png);
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;

			&:before {
				content: "";
				position: absolute;
				display: block;
				height: 8px;
				width: 2px;
				background-color: #1cabc3;
				top: -4px;
				left: 50%;
				margin-left: -1px;
			}
			&:after {
				content: "";
				display: block;
				background-color: #00f9ff;
				height: 2px;
				width: 6px;
				margin: auto;
				position: absolute;
				top: -6px;
				left: 50%;
				margin-left: -3px;
			}
		}
		&.on {
			font-size: 16px;
			color: #fff;

			.timebox-time {
			}
			i {
				border-color: #fff;

				&:after {
					background-color: #fff;
				}
			}
		}
		&:hover {
			.timebox-info {
				display: block;
			}
		}
	}
	.timebox-info {
		display: none;
		position: absolute;
		z-index: 11;
		background-image: url(../images/time-info.png);
		background-position: left top;
		background-repeat: no-repeat;
		padding: 20px 16px 13px 16px;
		width: 240px;
		top: 54px;
		left: -101px;
		font-size: 12px;
		background-size: 100% 100%;
		color: #6C6C6C;

		p {
			padding: 6px 0;
			margin: 0;
			line-height: 20px;

			span {
				color: $coRed;
			}
		}
	}
	$lrsize: 22px;

	.time-axis-left, .time-axis-right {
		cursor: pointer;
		background-image: url(../images/arrow-l.png);
		position: absolute;
		top: 39px;
		width: $lrsize;
		height: $lrsize;
		border: 1px solid rgba(65, 234, 255, 0.77);
		border-radius: $lrsize;
		background-size: 50% 50%;
		background-color: rgba(0, 249, 255, 0.1);
		background-position: center;
		background-repeat: no-repeat;
	}
	.time-axis-left {
		left: 1px;
	}
	.time-axis-right {
		right: 1px;
		transform: rotateZ(180deg);
	}
	&.small {
		padding: 0 48px 0 26px;
		height: 44px;
		background: rgba(21, 101, 175, 0.6);

		.timebox {
			margin-bottom: 5px;
			i {
				top: 21px;
				width: 20px;
				height: 20px;
				&:before{
					height: 4px;
					top: -2px;
				}
				&:after{
					top:-3px;
				}
			}
			span {
				line-height: 13px;
			}
		}
		.timebox-info {
			top: 31px;
			left: -95px;
		}
		.time-axis-left, .time-axis-right {
			top: 17px;
		}
		.time-axis-left {
			left: 7px;
		}
		.time-axis-right {
			right: 28px;
		}
		.time-axis-big {
			position: absolute;
			top: 12px;
			right: 4px;
			cursor: pointer;
			background: url(../images/iconfont-zuidahua.png) center center no-repeat;
			width: 20px;
			height: 20px;
			background-size: 100%;
		}
	}
}
.m-time-detail {
	position: absolute;
	top: 77px;
	bottom: 0;
	left: 0;
	right: 0;

	.m-dt-boxs {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
	.dt-box-name {
		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		text-align: center;
		font-size: 20px;
	}
	.dt-box-type1, .dt-box-type2, .dt-box-type3 {
		@include box-sizing();
		position: absolute;
	}
	.box-dengwarp {
		span {
			display: inline-block;
			vertical-align: top;
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: 3px center;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		i {
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
		}
	}
	.dt-box-type1 {
		padding: 8px 0px;
		margin-top: 3px;
		text-align: center;
		color: #FFF;
		height: 60px;
		background-image: url(../images/f5_bg.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;

		span {
			display: block;
			font-size: 20px;
			overflow: hidden;
			padding-top: 10px;

			b {
				font-size: 12px;
				font-weight: normal;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		i {
			display: block;
			font-style: normal;
		}
	}
	.newmess {
		position: absolute;
		z-index: 2;
		background: rgba(255, 255, 255, 0.77);
		border: 1px solid #ccc;
		padding: 5px;
		color: #767676;
		top: 100%;
		left: 0;
		width: 72px;
		font-size: 12px;
	}
	.dt-box-type2 {
		$heigth: 34px;
		display: table;
		background-image: url(../images/db_bg.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;

		&.disabled {
			// color: #D2D2D2;
			background-color: rgb(112, 112, 112);
			opacity: 0.4;
		}
		.box-dengwarp {
			margin-left: 14px;
		}
		.box-left {
			display: table-cell;
			vertical-align: middle;
			line-height: $heigth - 8;
		}
		.box-right {
			width: 30px;
			line-height: $heigth*2+1;
			text-align: center;
		}
		.box-jingdu {
			position: absolute;
			top: -14px;
			height: 13px;
			left: 0;
			right: 0;
			background: #ccc;
			border-radius: 5px;
			text-align: right;
			padding-right: 3px;
			color: #fff;

			&:after {
				content: "0s";
				position: absolute;
				top: 0;
				right: 3px;
				font-size: 12px;
			}
		}
		.box-jingdu-inner {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			background: #34CA67;
			width: 0;
			text-align: left;
			font-size: 12px;
			padding-left: 3px;
			-webkit-transition-timing-function: ease-in;
			border-radius: 5px;
			-webkit-transition-property: width;
		}
		.box-time {
			span {
				width: 111px;
			}
		}
		.box-www {
			overflow: hidden;

			span {
				// background-image: url(../images/icon-www.png);
				padding-left: 3px;
				width: 48px;
			}
		}
		.box-www-inner {
			float: left;
			width: 76px;
			@include box-sizing();
			background-image: url(../images/inner-box.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			height: 25px;
			line-height: 25px;

			&:first-child {
				margin-right: 5px;
			}
			&.on {
				background-color: rgba(255, 255, 255, 0.38);
			}
			&.uninstall {
				span, i {
					display: none;
				}
				&:after {
					content: "未安装";
					color: #C2C2C2;
					padding-left: 12px;
				}
			}
		}
	}
	.dt-box-type3 {
		background-image: url(../images/tou_bg.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		height: 48px;

		span {
			line-height: 48px;
			background-size: 25px;
			background-repeat: no-repeat;
			background-position: 13px center;
			padding-left: 63px;
		}
		i {
			margin-top: 14px;
		}
	}
	.dt-state-green, .dt-state-red, .dt-state-yellow {
		background-repeat: no-repeat;
		background-position: center center;
	}
	.dt-state-yellow {
		background-image: url(../images/lamp-yellow.png);
	}
	.dt-state-green {
		background-image: url(../images/lamp-green.png);
	}
	.dt-state-red {
		background-image: url(../images/lamp-red.png);
		-webkit-animation: a_scale 1.5s normal linear 0s infinite;
		animation: a_scale 1.5s normal linear 0s infinite;
	}
	&.m-time-detail-many {
		top: 0;
		font-size: 12px;
		left: 12px;
		border: 1px solid #2faeff;

		.m-time-detail-inner {
			width: 50%;
			height: 50%;
			float: left;
			position: relative;
			@include box-sizing();

			&:nth-child(1) {
				border-right: 1px solid #2faeff;
				border-bottom: 1px solid #2faeff;
			}
			&:nth-child(2) {
				border-bottom: 1px solid #2faeff;
			}
			&:nth-child(3) {
				border-right: 1px solid #2faeff;
			}
			.m-time-detail-inner-k {
				position: absolute;
				top: 44px;
				bottom: 0px;
				left: 0px;
				right: 0px;
			}
		}
		.dt-box-name {
			font-size: 14px;
		}
		.dt-box-type1 {
			height: 40px;
			padding: 6px 0;

			span {
				font-size: 14px;
				padding-top: 10px;
			}
		}
		.dt-box-type2 {
			height: 53px;
			width: 120px;
			.box-dengwarp {
				margin-left: 10px;
			}
			.box-www-inner {
				width: 42px;
				height: 21px;
				line-height: 21px;
			}
			.box-left {
				line-height: 20px;
			}
			.box-right {
				line-height: 48px;
				width: 20px;
			}
			.box-time {
				span {
					padding-left: 4px;
					width: 61px;
					background-image: none;
				}
			}
			.box-www {
				span {
					width: 14px;
				}
			}
		}
		.dt-box-type3 {
			width: 65px !important;
			margin-left: 25px;
			height: 25px;
			text-align: center;

			span {
				display: none;
				/* background-position: 3px center;
				background-size: 20px;
				line-height: 25px;
				width: 28px;
				overflow: hidden;
				padding-left: 0;
				text-indent: -999px; */
			}
			i {
				margin-top: 2px;
			}
		}
	}
}
.info-box {
	$boxHeight: 376px;
	position: absolute;
	display: table;
	left: 0;
	top: 0;
	color: #727272;
	z-index: 12;
	// box-shadow: 0 0 3px 2px #FFFFFF;
	background-color: #f7f7f8;
	border: 2px solid #44a5f1;

	.info-box-title {
		color: #FFF;
		height: 35px;
		line-height: 35px;
		font-size: 18px;
		padding-left: 1em;
		padding-right: 0.5em;
		background-color: #44a5f1;
		cursor: move;

		span {
			display: inline;
		}
		i {
			cursor: pointer;
			font-size: 29px;
			font-style: normal;
			float: right;
		}
	}
	.info-box-content {
		float: left;
		height: $boxHeight;
		overflow-y: auto;
		overflow-x: hidden;
		border-right: 1px solid $coGray;
	}
	.info-box-tabtime {
		width: 384px;
		position: relative;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 20px;
		$color: #d9d9d9;

		li {
			text-indent: -999px;
			cursor: pointer;
			background-color: #FFF;
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 12px;
			border: 2px solid $color;

			&:after {
				content: "";
				display: block;
				border-radius: 5px;
				height: 8px;
				width: 8px;
				margin: 2px auto 2px;
				background-color: $color;
			}
			position: absolute;

			&:first-child {
				text-indent: 0px;
				border: none;
				background: none;

				span {
					left: 5px;
					text-align: left;
				}
				&:after {
					display: none;
				}
			}
			&:last-child {
				text-indent: 0px;
				border: none;
				background: none;

				span {
					right: 15px;
					text-align: right;
				}
				&:after {
					display: none;
				}
			}
		}
		span {
			position: absolute;
			font-size: 12px;
			margin-top: 16px;
			color: #AFAFAF;
			width: 124px;
		}
		li.on {
			border-color: $coDeepSkyBlue;

			&:after {
				background-color: $coDeepSkyBlue;
			}
		}
		&:before {
			content: "";
			height: 3px;
			background: #d9d9d9;
			position: absolute;
			top: 7px;
			left: 0;
			right: 0;
			z-index: -1;
		}
	}
	table {
		border-collapse: collapse;
		width: 100%;
		line-height: 32px;

		.il {
			cursor: pointer;
			font-style: normal;
			display: block;
			background: url(../images/icon-list.png) center center no-repeat;
			width: 10px;
			height: 10px;
		}
		th {
			text-align: center;
			font-weight: normal;
			font-size: 14px;
			background-color: #f7f7f8;
			padding: 0 12px;
		}
		td {
			border-top: 1px solid $coGray;
			padding: 0 12px;
			text-align: center;
		}
		tr {
			&.on {
				background: #00b9ff;
				color: #fff;
				position: relative;

				&:after {
					content: "";
					width: 0;
					height: 0;
					position: absolute;
					margin-left: -14px;
					margin-top: 8px;
					border: 8px solid #f7f7f8;
					border-top-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
				.il {
					background: none;
				}
			}
			&.disable {
				// color: #BCBBBB;
				background-color: #E1DFDF;

				.il {
					position: relative;
					background: none;

					&:after {
						content: "失效";
						position: absolute;
						left: -14px;
						top: -4px;
						font-size: 12px;
						line-height: 16px;
						width: 33px;
						border: 1px solid #ccc;
						height: 16px;
						border-radius: 16px;
					}
				}
			}
		}
	}
	.info-box-rude {
		padding: 0.5em 1em;
		font-size: 13px;

		.tit {
		}
		.con {
			margin: 8px 0;
			padding: 0.5em;
			background: #fff;
			border: 1px solid $coGray;
			color: #999999;

			p {
				margin: 0;
				padding: 2px 0;
				word-break: break-all;

				span {
					color: #404040;
				}
			}
			&.con_strong {
				font-weight: bold;
				color: #303030;
				font-size: 15px;
			}
		}
		.presult {
			margin: 8px 0;

			span {
				color: #fe4848;
			}
		}
		.sil {
			background: #ccc;
			border-radius: 5px;
			height: 10px;
			position: relative;
			margin: 14px 0;

			.sil-in {
				background: #41A0E9;
				border-radius: 5px;
				position: absolute;
				height: 10px;
				top: 0;
				left: 0;
			}
			.sil-bt, .sil-et, .sil-it {
				position: absolute;
			}
			.sil-bt {
				left: 0;
				top: 13px;
			}
			.sil-et {
				right: 0;
				top: 13px;
			}
			.sil-it {
				left: 100%;
				top: -17px;
				color: #41A0E9;
				margin-left: -17px;
			}
		}
	}
	.info-box-slide {
		float: left;
		padding: 8px 8px 0px 8px;
		position: relative;
		@include box-sizing();
		min-width: 306px;

		.info-box-tab {
			.tab-tit {
				overflow: hidden;
				border-bottom: 1px solid $coGray;
				line-height: 33px;

				li {
					float: left;
					padding: 0 22px;
					text-align: center;
					cursor: pointer;
				}
				li.on {
					border-bottom: 2px solid #00b9ff;
					color: #00b9ff;
				}
				li.ava {
					color: #93E8D3;

					&:after {
						content: "(停用)";
						font-size: 12px;
						vertical-align: 2px;
					}
				}
			}
			.tab-con {
				height: $boxHeight - 37 - 8;

				li {
					height: 100%;
				}
			}
		}
		.info-box-out {
			line-height: 20px;
			cursor: pointer;
			padding: 0.3em 0.5em;
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			border: 1px solid $coGray;
		}
		.info-box-slide-left, .info-box-slide-right {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.info-box-slide-left {
			float: left;
			border-left: 1px solid $coGray;
			border-right: 1px solid $coGray;

			table {
				td {
					padding: 0 10px;
				}
			}
		}
		.info-box-slide-right {
			float: left;
		}
		.info-box-rude {
			.con {
				width: 150px;
			}
		}
	}
	&.info-box-confirm {
		.info-box-confirm-content {
			width: 300px;

			.con {
				padding: 5px;
			}
			.buttons {
				text-align: right;
				padding-right: 10px;
				padding-bottom: 10px;

				.button {
					cursor: pointer;
					margin-left: 10px;
					display: inline-block;
					background: #73ACBC;
					color: #fff;
					padding: 5px 10px;
					border-radius: 3px;
				}
			}
		}
	}
	&.info-box-form {
		.info-box-form-content {
			.con {
				padding: 5px 10px 5px 5px;
			}
			.buttons {
				text-align: right;
				padding-right: 10px;
				padding-bottom: 10px;

				.button {
					cursor: pointer;
					margin-left: 10px;
					display: inline-block;
					background: #73ACBC;
					color: #fff;
					padding: 5px 10px;
					border-radius: 3px;
				}
			}
			label {
				display: block;
				margin: 10px 0;

				span {
					width: 147px;
					vertical-align: -2px;
				}
				span, input {
					display: inline-block;
				}
			}
			.require {
				span:before {
					content: "*";
					color: #FF6969;
				}
			}
			input[type='text'], textarea {
				width: 144px;
				border-width: 2px;
				padding: 1px;
			}
			select {
				width: 150px;
			}
			input:focus {
				outline: none;
			}
			textarea {
				resize: none;
				height: 120px;
				border-color: #C6C6C6;
			}
			.textarea_big {
				width: 550px;
				height: 280px;
			}
			.areabox {
				display: inline-block;
				vertical-align: top;

				&.error {
					input, select, textarea, button {
						border-color: #FF6969;
						border-style: solid;
					}
				}
				&.errortip, &.error:hover {
					position: relative;

					&:after {
						content: attr(data-mess);
						position: absolute;
						left: 155px;
						border-radius: 5px;
						top: 0;
						display: table;
						background: rgba(0, 0, 0, 0.44);
						color: #F7F7F7;
						padding: 5px;
					}
				}
			}
		}
	}
}
.footer-inner {
	height: 50px;
	line-height: 50px;
	margin: 18px 40px 0 40px;
	border-top: 1px solid #E1E1E1;
	text-align: center;

	span {
		margin-right: 10px;
	}
}

/*动画*/
@-webkit-keyframes a_scale {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes a_scale {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.tooltipsF {
	color: #E4E4E4;
	position: absolute;
	top: -120px;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	.tooltip-text {
		word-break: break-all;
		display: inline-block;
		background-color: rgba(0, 0, 0, 0.7);
		text-align: center;
		padding: 15px 30px;
		border-radius: 10px;
	}
	&.on {
		top: 20px;
	}
}
.tipF {
	position: absolute;
	border: 1px solid #ccc;
	padding: 5px;
	background: rgba(255, 255, 255, 0.77);
	color: #767676;

	.tip-text {
		color: #727272;
	}
}