doctype html
html(data-use-rem=750)
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1')
    meta(content='telephone=no', name='format-detection')
    block head
    -if(homeCSS){
      - for(var i =0;i<homeCSS.length;i++){
        link(rel="stylesheet", href="../css/#{homeCSS[i]}")
      -}
    -}
    body
      block content
      script(src='../../../public/js/grid-inhead.js')
      block footer
  
