extends ../../../public/jade/_temp

block head
  - var homeCSS = ["magic.css"];
block content
  section.sec
      .main-title 置换魔法阵
      .sec-subtitle 把冗余卡放进魔法阵有机会获得以下主题卡片哦～
      .panel-inner.magic-circle
          .card-circle
              ul
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 1
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 2
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 3
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 4
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 5
                  li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 6
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 7
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 8
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 9
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 10
          .lm-full-btn 进入魔法阵
      script(src="../js/magic.js")