extends ../../../public/jade/_temp

block head
  - var homeCSS = ["magic.css"];
block content
  section.sec
      .panel-inner.magic-circle
          .card-circle
              ul
                  li.magic-card
                      .lm-boy
                      //- 1
                  li.magic-card
                      .lm-boy
                      //- 2
                  li.magic-card
                      .lm-boy
                      //- 3
                  li.magic-card
                      .lm-boy
                      //- 4
                  li.magic-card
                      .lm-boy
                      //- 5
                  li.magic-card
                      .lm-boy
                      //- 6
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 7
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 8
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 9
                  //- li.magic-card
                      .lm-boy(style="background-image:url(//placeholder.qiniudn.com/160x230)")
                      //- 10
      script(src="../js/magic.js")